<div id="payeeModal" class="modal fade" tabindex="-1" aria-labelledby="payeeModalLabel" aria-hidden="true" data-add-payee-route="{{ path('add_payee') }}">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="payeeModalLabel">Manage Payees</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="payeeModalBody">
                
                
            </div>
        </div>
    </div>
</div>
